.container {
    display: flex;
    flex-direction: column;
    margin: 22.5vh 30vw 22.5vh 30vw;
    padding: 5vh 3vw 5vh 3vw;
    border-radius: 20px;
    border: 1px solid;
    background: #EDF2F7;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.form {
    margin: 2vh 0 2vh 0 ;
    /* border: 2px solid #E2E8F0; */
}

.button {
    margin: 7.5vh 0 2.5vh 0;
}